.header {
    all: initial;
    background-color: #333333;
}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.nav-item {
    font-size: 2rem;
    margin: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: #666666;
}